<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="name"
        [ngModel]="post?.name"
        required
        minlength="3"
        placeholder="Post Title"
        #name="ngModel">
      <mat-error *ngIf="name.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="text"
        [ngModel]="post?.text"
        required
        placeholder="Post Content"
        #text="ngModel"></textarea>
      <mat-error *ngIf="text.invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save Post</button>
  </form>
</mat-card>
