
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
<div class="hero-image">
  <div class="hero-text">
  <!--
<section class="banner">
      <div class="banner-box">
        <div class="intro-text">
          <div class="intro-text-box">
            <h1>Any successful career starts with the RIGHT Intership</h1>
            <h3 ><a routerLink="/signup"   >No account? Register Now.</a></h3>
           </div>
        </div>
        </div>

    </section>
    -->
  </div>
</div>
<app-post-list></app-post-list>

</body>
</html>
